<div class="card mx-3">
    {{!-- <div class="card-header mb-0 title-bar">
        {{logOrSign}}
    </div> --}}
    {{#if loggingIn}}
    <form class="login-form card-body" id="login-form">
    {{else}}
    <form class="signup-form card-body" id="signup-form">
        <div>
            <label for="username" class="form-label">User name</label>
            <input type="text" class="form-control" id="username" placeholder="Enter user name">
        </div>
    {{/if}}
        <div>
            <label for="email" class="form-label mt-3">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email address">
        </div>
        <div>
            <label for="password" class="form-label mt-3">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        {{#if loggingIn}}
        {{!-- do nothing --}}
        {{else}}
            <div>
                <label for="confirm_password" class="form-label mt-3">Confirm Password</label>
                <input type="password" class="form-control" id="confirmpassword" placeholder="Password">
            </div>
        {{/if}}
        <button type="submit" class="mt-2 action-button">{{logOrSign}}</button>

        {{#if loggingIn}}
        <a class="action-link px-0" href="/signup">Not yet registered? Sign up here!</a>
        {{else}}
        <a class="action-link px-0" href="/login">Login with an existing account</a>
        {{/if}}
    </form>
</div>

